* {
  box-sizing: border-box;
}
 /* border: solid thin red; *˛/

/* header */

html, body{
  scroll-behavior: smooth;
}


header, #logo, img, nav {
  position: relative;
 }

 body {
  margin: 0px;
}
#main {
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
a.nav-link:hover {
  color: #f9e9d0;
  border: solid thin #f9e9d0;
  padding: 4px;
  border-radius: 5px;
}

header {
  background-color: #212529 ;
  background-size: cover;
  background-position: center center;
  /*display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;*/
}
body, .container {
  background-color: #f4f4f4;
}

#logo img {
  height: 150px;
  width: auto;
  object-fit: cover;
}
#logo {
  display: flex;
}
.container img {
  height: auto;
  width: 200px;
  object-fit: cover;
}
.picture {
  text-align: center;
}

li a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

@media screen and (min-width: 896px) {
  #header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #logo img {
    width: 230px;
    height: auto;
  }

  .container-fluid {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    height: 160px;
  }
  #logo {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
  }
  
  .navbar-nav-scroll {
    overflow: visible;
  }

  .navbar-collapse {
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
  }

  .navbar-toggler {
    display: none;
  }

}

/* main */

p, h1, h2, h3, h4, h5, ul, ol, li {
  margin-bottom: 15px;
  font-family: Montserrat;
}
h1 {
  text-align: center;
  font-size: 2.2rem;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
}
h2 {
  text-align: center;
  font-size: 1.9rem;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
}
h3 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
  text-align: justify;
}
#quote {
  font-family: Caveat;
  font-style:italic;
  color: #f4f4f4;
  font-size: 2.5rem;
  margin-top: 30px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 5px #050505;
  width: 100%;
  margin: 0px;
}
#quote-container {
  background-color: #6b001a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.line-icon {
  width: 100%;
}


@media screen and (min-width:896px) {
  .line-icon {
    width: 750px;
  }
}

/* about-me */

#profil img {
  /*border: solid thin #6b001a;
  border-radius: 10px;
  box-shadow: 3px 3px 10px black; */
  width: 50vw;
  height: auto;
  border-radius: 48% 10% 48% 10%;
  border: groove gray;
}
#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
#profil {
  margin: 50px 0px 50px 0px;
}
@media screen and (min-width: 896px) {
  #about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
  }
  #profil img {
    width: 380px;
    height: auto;
  }
  #career {
    width: 100%
  }
  #about-me .container {
    display: flex;
    justify-content: center;
    width: 50vw;
    margin: 0px;
  }
  #career p, #news .container p {
    font-size: 1.1rem;
  }
}

/* Services */

.content p {
 text-align: center;
}
#services {
  margin-bottom: 100px;
}
.content ul li {
  font-size: .9rem;
}
.content ul {
  list-style-type: circle;
  list-style-position: outside;
  width: 300px;
}
#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#services .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 20px 50px 20px;
  width: 80vw;
}
.picture {
  margin-bottom: 15px;
}

#services .container .btn {
  width: 100px;
}

@media screen and (min-width: 1024px) {
  #services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #services .container {
    width: 29vw;
    height: 750px;
    max-width: 400px;
    border: solid thin #6b001a;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    padding: 10px 10px 10px 10px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

#news {
  margin-bottom: 50px;
}

.d-block p {
  font-style: italic;
}
.d-block h3 {
  font-size: 1.4rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.carousel-inner {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.carousel-item {
  border: double thick black;
  padding: 10px 20px 10px 20px;
  margin-right: 0%;

}


@media screen and (min-width: 768px){
  .carousel-item {
    max-width: 700px;
    height: 300px;
  }
}

/* Contact */

#availability {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

#facebook {
  color: black;
  font-size: 1rem;
}

@media screen and (min-width: 768px){
  #availability {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
  }
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw; 
  background-color: #6b001a;
  color: white;
  padding: 20px; 
}
legend p {
  text-align: center;
}
#form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;

}
#form-content {
  width: 90%;
  font-size: 1.5rem;
}
#nev, #phone, #email, #subject, #info {
  width: 100%;
  font-size: 1.5rem;
  background-color: #f4f4f4;
  border: none;
}
#nev:focus {
  background-color: #db8780;
}
#phone:focus {
  background-color: #db8780;
}
#email:focus {
  background-color: #db8780;
}
#subject:focus {
  background-color: #db8780;
}
#info:focus {
  background-color: #db8780;
}
#info {
  margin-top: 5px;
}
.input, .label {
  margin-top: 5px;
  margin-bottom: 5px;
}
.label {
  font-size: 1rem;
}
.right {
  float: right;
}

@media screen and (min-width: 768px) {
  fieldset, #form-content {
    max-width: 750px;
  }
  #form {
    display: flex;
    justify-content: center;
  }
}


/* Scroll button */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #6b001a; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px;  /*Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  width: 60px;
  height: 60px;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
.arrow {
  border: solid white;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 10px;
  margin-top: 7px;

}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/* Footer */

footer {
  background-color: #050505;
  text-align: center;
  color: white;
}

#thx {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#thx h2 {
  margin-bottom: 50px;
}


